.small-datepicker .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  height: 0.5em;
  width: 420px;
}
.small-datepicker .css-gaq2pr-MuiFormLabel-root-MuiInputLabel-root {
  line-height: 0.5em;
  padding-bottom: 10px;
  padding-top: 2px;
}
.MuiStack-root {
  padding-top: 0px !important;
}
.khachhangadd .MuiButton-root {
  border-radius: 8px !important;
  text-transform: none !important;
  box-shadow: none;
}

.khachhangadd .MuiButton-root:active {
  box-shadow: none;
}

.khachhangadd .MuiButton-root:hover {
  box-shadow: none;
}
#select-avatar {
  display: none;
}

.input-container input[type='text'],
.input-container input[type='email'],
.input-container input[type='tel'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.required {
  color: red;
  font-weight: bold;
}
